<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <script type="text/javascript" th:src="@{../js/main.js}"></script>
    <title>Appointments</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Dzień</th>
                        <th>Godzina</th>
                        <th>Zabieg</th>
                        <th>Cena</th>
                        <th>ID Klienta</th>
                        <th>Dane Klienta</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="appo: ${appointments}">
                        <td th:text="${appo.id}"></td>
                        <td th:text="${appo.chosenDay}"></td>
                        <td th:text="${appo.chosenHour}"></td>
                        <td th:text="${appo.nameOfTreatment}"></td>
                        <td th:text="${appo.price}"></td>
                        <td th:text="${appo.clientId}"></td>
                        <td th:text="${appo.clientData}"></td>
                        <td>
                            <a th:href="@{/app/appointments/findOne/(id=${appo.id})}"
                               class="btn btn-primary eBtnEditAppo">Edytuj</a>
                            <a th:href="@{/app/appointments/delete/(id=${appo.id})}"
                               class="btn btn-danger delBtnAppo">Usuń</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:fragment='paginationbar'>
                    <ul class='pagination pagination-centered'>
                        <li th:class="${page.firstPage}?'disabled':''" style="display:inline">
                            <span th:if='${page.firstPage}'>←pierwsza</span>
                            <a th:if='${not page.firstPage}'
                               th:href='@{${page.url}(page=0,size=${page.size})}'>←poprzednia</a>
                        </li>
                        <li th:class="${page.hasPreviousPage}? '' : 'disabled'" style="display:inline">
                            <span th:if='${not page.hasPreviousPage}'>«</span>
                            <a th:if='${page.hasPreviousPage}'
                               th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'>«</a>
                        </li>
                        <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''"
                            style="display:inline">
                            <span th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a th:if='${not item.current}'
                               th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'>
                                <span th:text='${item.number}'>1</span>
                            </a>
                        </li>
                        <li th:class="${page.hasNextPage}? '' : 'disabled'" style="display:inline">
                            <span th:if='${not page.hasNextPage}'>»</span>
                            <a th:if='${page.hasNextPage}'
                               th:href='@{${page.url}(page=${page.number},size=${page.size})}'>»</a>
                        </li>
                        <li th:class="${page.lastPage}? 'disabled' : ''" style="display:inline">
                            <span th:if='${page.lastPage}'>następna➝</span>
                            <a th:if='${not page.lastPage}'
                               th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>ostatnia➝</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="myFormToUpdateAppo">
            <form th:action="@{/app/appointments/update/}" method="post">
                <div class="modal fade" id="editAppoModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="UpdateModalLabel">Update Client Data</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="id" class="col-form-label">ID:</label>
                                    <input type="text" class="form-control" id="id" name="id" value="" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="chosenDay" class="col-form-label">Dzień:</label>
                                    <input type="date" class="form-control" id="chosenDay" name="chosenDay" value=""
                                           required/>
                                </div>
                                <div class="form-group">
                                    <label for="chosenHour" class="col-form-label">Godzina:</label>
                                    <input type="time" class="form-control" id="chosenHour" name="chosenHour" value=""
                                           required/>
                                </div>
                                <div class="form-group">
                                    <label for="nameOfTreatment" class="col-form-label">Nazwa Zabiegu:</label>
                                    <input type="text" class="form-control" id="nameOfTreatment" name="nameOfTreatment"
                                           value=""
                                           required/>
                                </div>
                                <div class="form-group">
                                    <label for="price" class="col-form-label">Nazwa Zabiegu:</label>
                                    <input type="text" class="form-control" id="price" name="price"
                                           value=""
                                           required/>
                                </div>
                                <div class="form-group">
                                    <label for="clientId" class="col-form-label">ID Klienta:</label>
                                    <input type="text" class="form-control" id="clientId" name="clientId" value=""
                                           required readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="clientData" class="col-form-label">Dane Klienta:</label>
                                    <input type="text" class="form-control" id="clientData" name="clientData" value=""
                                           required readonly/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="save"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="myFormToDeleteAppo">
            <div class="modal fade" id="deleteAppoModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!--                    <h5 class="modal-title" id="exampleModalLabel">UWAGA</h5>-->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="alert alert-danger">
                                Czy na pewno usunąć?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="" id="delRef" class="btn btn-danger">Usuń</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>