<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>modalToUpdateClientData</title>
<style>

</style>
<body>
<div th:fragment="myFormToUpdateClient">
    <div class="myFormToUpdateClient">
        <form th:action="@{/app/clients/update/}" method="post" modelAttribute="client" th:object="${clientDTO}"
              id="formToUpdateClient">
            <div class="modal fade" id="updateClientModal" tabindex="-1" role="dialog"
                 aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateModalLabel">
                                <span th:text="#{lang.modal.clientEdit.label}"></span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger errorFound" th:if="${#fields.hasErrors('*')}">
                                <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                            </div>
                            <div class="form-group">
                                <label for="id" class="col-form-label">ID</label>
                                <input type="text" class="form-control" id="id" name="id" value="" readonly/>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-form-label">
                                    <span th:text="#{lang.modal.client.name}"></span></label>
                                <input type="text" class="form-control" id="name" name="name" value="" required/>
                                <p th:if="${#fields.hasErrors('name')}" class="label label-danger"
                                   th:errors="*{name}" style="color:red;" ></p>
                            </div>
                            <div class="form-group">
                                <label for="surname" class="col-form-label">
                                    <span th:text="#{lang.modal.client.surname}"></span></label>
                                <input type="text" class="form-control" id="surname" name="surname" value=""
                                       required/>
                                <p th:if="${#fields.hasErrors('surname')}" class="label label-danger"
                                   th:errors="*{surname}" style="color:red;" ></p>
                            </div>
                            <div class="form-group">
                                <label for="dateOfBirth" class="col-form-label">
                                    <span th:text="#{lang.modal.client.dob}"></span></label>
                                <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" value=""
                                       required/>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber" class="col-form-label">
                                    <span th:text="#{lang.modal.client.phoneNumber}"></span></label>
                                <input type="tel" pattern="[0-9]{9}" class="form-control" id="phoneNumber"
                                       name="phoneNumber" value="" required
                                       oninvalid="this.setCustomValidity('Podaj 9 cyfr')"
                                       onchange="this.setCustomValidity('')"/>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-form-label">
                                    <span th:text="#{lang.modal.client.email}"></span></label>
                                <input type="email" class="form-control" id="email" name="email"
                                       value=""
                                       required
                                       oninvalid="this.setCustomValidity('np. \'email@dom.com\'')"
                                       onchange="this.setCustomValidity('')"/>
                                <p th:if="${#fields.hasErrors('email')}" class="label label-danger"
                                   th:errors="*{email}" style="color:red;" ></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                <span th:text="#{lang.modal.client.close}"></span></button>
                            <button type="submit" id="buttonToEditClient" class="btn btn-primary" value="save">
                                <span th:text="#{lang.modal.client.save}"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>