<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>modalToUpdateClientData</title>
<style>

</style>
<body>
<div th:fragment="myFormToUpdateAppointment">
    <div class="myFormToUpdateAppointment">
        <form th:action="@{/app/appointments/update/}" method="post" class="formThatNeedsDataCleared"
              modelAttribute="appointment" th:object="${appointmentDTO}" id="formToUpdateAppointment">
            <div class="modal fade" id="updateAppointmentModal" tabindex="-1" role="dialog"
                 aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="UpdateModalLabel"><span
                                    th:text="#{lang.modal.appointmentUPDATE.label}"></span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger errorFound" th:if="${#fields.hasErrors('*')}">
                                <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                            </div>
                            <div class="form-group">
                                <label for="id" class="col-form-label">
                                    <span th:text="#{lang.modal.appointment.id}"></span></label>
                                <input type="text" class="form-control" id="id" name="id" value="" readonly/>
                            </div>
                            <div class="form-group" hidden>
                                <label for="clientId" class="col-form-label">
                                    <span th:text="#{lang.modal.appointment.clientID}"></span></label>
                                <input type="text" class="form-control" id="clientId" name="clientId" value=""
                                       required readonly/>
                            </div>
                            <div class="form-group">
                                <label for="clientData" class="col-form-label">
                                    <span th:text="#{lang.modal.appointment.clientData}"></span></label>
                                <input type="text" class="form-control" id="clientData" name="clientData" value=""
                                       required readonly/>
                            </div>
                            <div class="form-group">
                                <label for="chosenDay" class="col-form-label">
                                    <span th:text="#{lang.modal.appointment.day}"></span></label>
                                <input type="date" class="form-control" id="chosenDay" name="chosenDay" value=""
                                       required/>
                            </div>
                            <div class="form-group">
                                <label for="nameOfTreatment" class="col-form-label">
                                    <span th:text="#{lang.modal.appointment.treatmentName}"></span></label>
                                <input type="text" class="form-control" id="nameOfTreatment" name="nameOfTreatment"
                                       value=""
                                       required/>
                                <p th:if="${#fields.hasErrors('nameOfTreatment')}" class="label label-danger"
                                   th:errors="*{nameOfTreatment}" style="color:red;" ></p>
                            </div>
                            <div class="form-group">
                                <label for="chosenHour" class="col-form-label">
                                    <span th:text="#{lang.modal.appointment.startingHour}"></span></label>
                                <input type="time" class="form-control" id="chosenHour" name="chosenHour" value=""
                                       required/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">
                                    <span th:text="#{lang.modal.appointment.duration}"></span></label>
                                <select id="minutes" name="minutes">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                    <option value="60">60</option>
                                </select><span th:text="#{lang.modal.appointment.durationMinutes}"></span>
                                <button type="button" id="buttonAddMinutes">
                                    <span th:text="#{lang.modal.appointment.add}"></span></button>
                                <button type="button" id="buttonSubtractMinutes">
                                    <span th:text="#{lang.modal.appointment.subtract}"></span></button>
                            </div>
                            <div class="form-group">
                                <label for="hourFinished" class="col-form-label">
                                    <span th:text="#{lang.modal.appointment.endingHour}"></span></label>
                                <input type="time" class="form-control" id="hourFinished" name="hourFinished" value=""
                                       required/>
                            </div>
                            <div class="form-group">
                                <label for="price" class="col-form-label">
                                    <span th:text="#{lang.modal.appointment.price}"></span></label>
                                <input type="text" class="form-control" id="price" name="price" value="" required/>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <span th:text="#{lang.modal.close}"></span></button>
                        <button type="submit" class="btn btn-primary">
                            <span th:text="#{lang.modal.save}"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>