<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head th:replace="fragments/headCalendar :: headCalendar"></head>

<body>
    <div layout:fragment="content" th:remove="tag">
        <div>
            <button id="langChangePL">PL</button>
            <button id="langChangeEN">EN</button>
        </div>
        <h1 th:text="#{lang.calendar.working}"></h1>
        <div id='calendar'></div>

    </div>
</body>
</html>