<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="pl">
<head th:replace="fragments/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>header</title>
    <style>

    </style>
<body>
<th:block th:fragment="footer">
    <footer class="page-footer py-4 bg-dark text-white">
            <p>
                <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                    | Logged user: <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span> |
                </span>
            </p>
            <div class="footer-copyright">&copy; 2019 Copyright:
                <a href=""> AlmostLikeVersum.not</a>
            </div>
    </footer>
</th:block>
</body>
</html>