<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: common_header(~{::title},~{::link},~{::script},~{::style})">
    <title><span th:text="#{lang.footer.fragment.title}"></span></title>
    <style>

    </style>
<body>
<th:block th:fragment="footer">
    <footer class="page-footer py-4 bg-dark text-white">
        <p>
                <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                    |  <span th:text="#{lang.footer.fragment.whoIsLoggedIn}"></span>
                        <span sec:authentication="name"></span> |
                    |  <span th:text="#{lang.footer.fragment.whatIsHisRole}"></span>
                        <span sec:authentication="principal.authorities"></span> |
                </span>
        </p>
        <div class="footer-copyright">&copy; <span th:text="#{lang.footer.fragment.copyright}"></span>
            <a href=""><span th:text="#{lang.footer.fragment.versum}"></span></a>
            <span style="float:right">
                <span th:text="#{lang.change}"></span>
                <select id="locales">
                    <option value=""></option>
                    <option value="en-US" th:text="#{lang.en}"></option>
                    <option value="pl-PL" th:text="#{lang.pl}"></option>
                </select>
            </span>
        </div>
    </footer>
</th:block>
</body>
</html>