<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>header</title>
    <style>
        .navbar-nav {
            flex-direction: row;
        }

        .nav-link {
            padding-right: .5rem !important;
            padding-left: .5rem !important;
        }

        /* Fixes dropdown menus placed on the right side */
        .ml-auto {
            left: auto !important;
            right: 0;
        }
    </style>
</head>
<body>
<th:block th:fragment="header">
    <div class="container">
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm justify-content-between">
        <div class="navbar-nav">
            <a class="navbar-brand" href="">PROGRAM</a>
            <a class="nav-item nav-link active" th:href="@{/loggedIn/}">Home</a>
            <a class="nav-item nav-link" th:href="@{/app/clients}">Clients</a>
            <a class="nav-item nav-link" th:href="@{/app/appointments}">Appointments</a>
        </div>
        <div class="navbar-nav ">
            <a class="nav-item nav-link" th:href="@{/logout}">Sign Out</a>
        </div>
    </nav>
    </div>
</th:block>
</body>
</html>