<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:replace="fragments/head :: head(~{::title},~{::script})">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Spring Scheduler Project SDA</title>
</head>
<body>
<th:block th:replace="fragments/header :: header"/>
<div class="container">
    <th:block layout:fragment="content"/>
</div>
<div class="container fixed-bottom">
    <th:block th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>