<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(~{::title},~{::script})">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Spring Scheduler Project SDA</title>
    <style>
        div.container {
            padding: auto;
            margin: auto;
            text-align: center;
            min-width: 1300px;
        }
    </style>
</head>
<body>
<div class="container">
<div class="container-fluid" id="header">
        <th:block th:replace="fragments/header :: header"/>
    </div>
<div class="container-fluid" id="content">
        <th:block layout:fragment="content"/>
    </div>
<div class="container-fluid" id="footer">
        <th:block th:replace="fragments/footer :: footer"/>
    </div>
</div>
</body>
</html>